/.idea/
/.hg/
/.tox/
/build/
/codebin/
/dist/
/docker/
/docs/
/htmlcov/
/scripts/
/node_modules/
/var/
/vagrant/.vagrant/
/examples/datasets/

*.py[cod]
*.py,cover
/.coverage
/backup_cnn.py
/builddocs.zip
/CHANGELOG.rst
/.hgignore
/.gitignore~
/.hgtags
/.isort.cfg
/.pylintrc
/docker-compose.yml
/IDEA.rst
/IMAGE_RECOGNITION.rst
/DEPLOYMENT.rst
/LINKODROME.rst
/MANIFEST.in~
/MIND_BUCKET.rst
/ROADMAP.rst
/service.yml
/TODOS.rst
/yarn.lock
/ghostdriver.log
/aincient.crt
/aincient.key

/implementation/server/settings/dev.py
/implementation/server/settings/local_settings.py
/implementation/server/settings/stg.py
/implementation/server/settings/stg_no_indexing.py
/implementation/server/settings/prd.py
/implementation/server/ghostdriver.log
/src/muses.egg-info/
